# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Compiled C++ code
*.out

# C++ object files
*.o

# Ignore pikopixel save files
*.piko

# emacs temporary files
*~
\#*\#
*.#*

# Project executable
BlindJump

# Mac app release
*.app
