# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Compiled C++ code
*.out

# Ignore pikopixel save files
# *.piko

# Ignore the xcode user state
xcuserdata/
